html {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    overflow-x: hidden;
    height: 100%;
}

body {
    height: 100%;
}

.noscroll {
    overflow-y: hidden;
}

/* ==================== index ==================== */
#index {
    background: linear-gradient(30deg, #32D2B9 , #93E44C);
}

#whiteicon {
    width: 10vh;
    display: block;
    margin: auto;
    margin-top: 12vh;
}

#mainregister {
    color: white;
}

#mainregister > h1 {
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;
}

#mainregister > p:nth-of-type(1) {
    text-align: center;
    width: 40%;
    margin: auto;
    margin-top: -2vh;
}

#mainregister > a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0 auto;
    border: 1px solid white;
    width: 50%;
    background: none;
    border-radius: 50px;
    padding: 8px 20px 4px;
    display: block;
    margin: auto;
    margin-top: 18vh;
}

#mainregister > a > img {
    height: 10px;
    padding-left: 8px;
    padding-bottom: 1px;
}

#existingsignin {
    width: 50%;
    margin: auto;
    margin-top: 22vh;
    color: white;
    text-align: center;
}

button:focus{
    outline: none;
}

#existingsignin > a {
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    border: 1px solid white;
    border-radius: 50px;
    background: none;
    padding: 3.2px 12px;
}

/* ==================== sign in ==================== */

#signinlogo {
    display: block;
    margin: auto;
    height: 11vh;
    margin-top: 14vh;
}

#signinform {
    display: flex;
    flex-direction: column;
    width: 64%;
    margin: auto;
    text-align: center;
    margin-top: 16vh;
}

#signinform > input[type="text"], #signinform > input[type="password"] {
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    border: 0;
    border-bottom: 1px solid #353535;
    text-align: center;
    margin-top: 6vh;
}

input:focus{
    outline: none;
}

#signinBtn {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 22px 6px;
    margin: auto;
    margin-top: 10vh;
    background: linear-gradient(45deg, #32D2B9 , #93E44C);
}

/* ==================== sign up ==================== */
#signuplogo {
    display: block;
    margin: auto;
    height: 9vh;
    margin-top: 14vh;
}

.registerText {
    text-align: center;
    color: #63D691;
    margin-top: 3vh;
    font-weight: 400;
}

#signupform {
    display: flex;
    flex-direction: column;
    width: 64%;
    margin: auto;
    text-align: center;
    margin-top: 6vh;
}

#signupform > input[type="text"], #signupform > input[type="password"] {
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    border: 0;
    border-bottom: 1px solid #353535;
    text-align: center;
    margin-top: 6vh;
}

#signupBtn {
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 22px 6px;
    margin: auto;
    margin-top: 12vh;
    background: linear-gradient(45deg, #32D2B9 , #93E44C);
}

/* ==================== register dog ==================== */

#registerlogo {
    display: block;
    margin: auto;
    height: 9vh;
    margin-top: 10vh;
}

#registerdog {
    display: flex;
    flex-direction: column;
    width: 64%;
    margin: auto;
    text-align: center;
    margin-top: 6vh;
}

#registerdog > input[type="text"] {
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    border: 0;
    border-bottom: 1px solid #353535;
    text-align: center;
    margin-top: 6vh;
}

input[list] {
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-align: center;
    color: #353535;
    border: 0;
    border-bottom: 1px solid #4F4F4F;
    margin-top: 6vh;
    background-image: url("img/search.png");
    background-size: 1.9vh;
    background-position: 96% 50%;
    background-repeat: no-repeat;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

#dogsize {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    text-align-last: center;
    color: #353535;
    border: none;
    background: #fff;
    border-radius: 0;
    -webkit-appearance: none;
    border-bottom: 1px solid #4F4F4F;
    background-image: url("img/dropdown.png");
    background-size: 1.6vh;
    background-position: 96% 50%;
    background-repeat: no-repeat;
    margin-top: 6vh;
}

select:focus {
    outline:none;
}

input[type="submit"] {
    display: block;
    margin: auto;
    margin-top: 12vh;
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(45deg, #32D2B9 , #93E44C);
    color: #fff;
    border-radius: 50px;
    padding: 10px 22px 6px;
    border: 0;
}

input[type="submit"]:focus {
    outline: none;
}

/* ==================== suggested tracks ==================== */

#recommended {
    text-align: center;
    color: #63D691;
    font-weight: 400;
    width: 75%;
    margin: auto;
    margin-top: 5vh;
}

#medResults, #lrgResults, #smlResults {
    width: 75%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 12vh;
}

.infodiv > a {
    font-weight: 400;
    text-decoration: none;
    color: #353535;
}

a > p {
    font-weight: 300;
}

a: visited {
    color: #353535;
}

.infodiv {
    color: #353535;
    box-shadow: 0px 0px 18px #e9e9e9; 
    padding: 10% 2% 5% 6%;
    border-radius: 16px;
    margin-top: 4vh;
}

/* ==================== individual track pages ==================== */

.trackTitle {
    text-align: center;
    color: #63D691;
    font-weight: 400;
    width: 75%;
    margin: auto;
    margin-top: 5vh; 
}

#map {
    margin: auto;
    margin-top: 5vh;
    width: 65%;
    height: 50%;
}
    
#description {
    margin-bottom: 14vh;
}

.description {
    width: 65%;
    margin: auto;
    color: #353535;
    text-align: left;
    font-weight: 300;
    font-size: 12px;
}

#description > h5 {
    width: 65%;
    margin: auto;
    padding: 4vh 0px 1.4vh;
}

#trackrouteTitle {
    text-align: center;
    font-size: 12px;
    margin: auto;
    margin-top: 1.5vh;
}

#trackrouteLink {
    text-decoration: none;
    color: #63D691;
}

/* ==================== nav bar ==================== */

footer {
    display: flex;
    background: #fff;
    height: 20vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    background-attachment: scroll;
}

footer > div {
    margin: auto;
}

footer > div > img {
    margin: 0;
    height: 4.5vh;
}

#paws {
    height: 5.5vh;
}